<?xml version="1.0" ?>
<launch>

  <arg name="gzname" default="gazebo"/>

  <arg name="gzworld" default="$(find 5link)/worlds/5link.world"/>
  <node name="gazebo" pkg="atlas_utils" type="run_$(arg gzname)" args="$(arg gzworld)" output="screen" />

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find five_link_walker)/model.urdf"/>

  <!-- Use sim time -->
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- TF Buffer Server -->
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" output="screen">
    <param name="buffer_size" value="1200.0"/>
  </node>

  <!-- Joint effort -->
  <rosparam command="load" file="$(find five_link_walker)/ros/controller_params.yaml" />

  <!-- Controllers that come up started -->

  <!-- Stereo image processing -->
  <!-- node ns="multisense_sl" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="screen">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="true"/>
  </node -->
</launch>
